*{
    margin: 0 auto;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* sheard-style */

.primary-btn{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(  #F7E93F, #FB09B4, #9100F8);
    

}
.secondary-btn{
    border: 2px solid #00FF88;
    border-radius: 30px;
    background: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
.gradiant{
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(to right,  #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* sheard-style */

/* naveber-start */
.navigation{
    background-color:#1A0B2E;
}
.naveber{
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-logo h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
}
.nav-manue ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;

}
.nav-manue ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}
.nav-manue ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
/* naveber-end */

/* hero-section-start */

.hero{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 760px;
    margin: 0;
}
.hero-section{
    text-align: center;


}
.hero-imag-crcl{
   text-align: center;
   padding-left: 95px;
   padding-top: 100px;
   
   position: relative;
}
.microphone{
    position: relative;
    top: -280px;
}
.hero-imag-crcl span{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 8px 26px;
    position: relative;
    top: -330px;
    right: 123px;
    
}
.hero-text{
    text-align: center;
    margin-top: -110px;
}
.hero-text h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 8px;

}
.hero-text p{
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.btn{
    display: inline-block;
    gap: 8px;
}

/* hero-section-end */
/* prodcust-section-start */
.prodcust{
    text-align: center;
    background-color: #1A0B2E;

}
.prodcust-text h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding: 50px;
}
.prodcust-text p {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.hr hr {
   margin: 80px 200px;
}
.award-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.award h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;
}
.award p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 20px;
    color: #FFFFFF;
}
/* prodcust-section-end */

.Why-Choose-TechWave{
    background-color: #230E3D;
    display: grid;
}
.Why-Choose-TechWave h2 {
    padding: 120px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}


.techwave {
  max-width: 1200px;
  margin: auto;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 24px;

  grid-template-areas:
    "audio mobile mobile"
    "audio community community"
    "interview interview resources";
}


.tecfwave-card {
  background: linear-gradient(145deg, #2a0a4f, #1a0033);
  border-radius: 20px;
  padding: 28px;
  color: #fff;
  text-align: left;
  justify-content: left;
}


.audio {
  grid-area: audio;
}

.mobile {
  grid-area: mobile;
}

.community {
  grid-area: community;
}

.interview {
  grid-area: interview;
}

.resources {
  grid-area: resources;
}


.tecfwave-card img {
  width: 36px;
  margin-bottom: 16px;
}

.tecfwave-card h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.tecfwave-card p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

.featured{
    background-color: #1A0B2E;
}
.featured h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 120px 200px 40px 200px;
}
.video{
    display:grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 120px;

}
.video-card{
    border-radius: 10px;
    overflow: hidden; 
    text-align: center;
    background-color: #270342;
    padding: 0;
    max-width: 380px;
    max-height: ;
    
   
}
.card-text {
    text-align: left;
    padding: 10px;
}
.card-text h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.card-text p{
     font-size: 1rem;
    font-weight: normal;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.card-text span{
    font-size: 1rem;
    font-weight: bold;
    line-height: 24px;
    color: #00FF88;
    margin-top: 12px;
    align-items: center;
}

