*{
    margin: 0 auto;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* sheard-style */
/* .hidden{
    display: none !important;
} */

.hidden{
    display: none !important;
}

.primary-btn{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(  #F7E93F, #FB09B4, #9100F8);
    

}
.secondary-btn{
    border: 2px solid #00FF88;
    border-radius: 30px;
    background: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
.gradiant{
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(to right,  #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.gradiant-2{
    font-size: 4rem;
    font-weight: bold;
    background-image: linear-gradient(to right,  #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
/* sheard-style */

/* naveber-start */
.navigation{
    background-color:#1A0B2E;
}
.naveber{
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-logo h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
}
.nav-manue ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;

}
.nav-manue ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}
.nav-manue ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
/* naveber-end */

/* hero-section-start */

.hero{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 760px;
    margin: 0;
}
.hero-section{
    text-align: center;


}

.hero-imag-crcl img{
    position: relative;
    left: 45px;
    top: 40px;
}
.microphone{
    position: relative;
    bottom: 250px;
    transition: transform 10s ;
}

.microphone:hover{

    transform: rotate(360deg);
    
}
.hero-imag-crcl span{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 8px 26px;
    position: relative;
    bottom: 280px;
    right: 90px;
    
}
.hero-text{
    text-align: center;
    margin-top: -110px;
}
.hero-text h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 8px;

}
.hero-text p{
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.btn{
    display: inline-block;
    gap: 8px;
}

/* hero-section-end */
/* prodcust-section-start */
.prodcust{
    text-align: center;
    background-color: #1A0B2E;

}
.prodcust-text h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding: 50px;
}
.prodcust-text p {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.hr hr {
   margin: 80px 200px;
}
.award-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.award h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;
}
.award p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 20px;
    color: #FFFFFF;
}
/* prodcust-section-end */

.Why-Choose-TechWave{
    background-color: #230E3D;
    display: grid;
}
.Why-Choose-TechWave h2 {
    padding: 120px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}


.techwave {
  max-width: 1200px;
  margin: auto;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 24px;

  grid-template-areas:
    "audio mobile mobile"
    "audio community community"
    "interview interview resources";
}


.tecfwave-card {
  background: linear-gradient(145deg, #2a0a4f, #1a0033);
  border-radius: 20px;
  padding: 28px;
  color: #fff;
  text-align: left;
  justify-content: left;
}


.audio {
  grid-area: audio;
}

.mobile {
  grid-area: mobile;
}

.community {
  grid-area: community;
}

.interview {
  grid-area: interview;
}

.resources {
  grid-area: resources;
}


.tecfwave-card img {
  width: 36px;
  margin-bottom: 16px;
}

.tecfwave-card h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.tecfwave-card p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

.featured{
    background-color: #1A0B2E;
   
}
.featured h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 120px 200px 40px 200px;
}
.video{
    display:grid;
    
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 120px;

}
.video-card{
    border-radius: 10px;
    overflow: hidden; 
    text-align: center;
    background-color: #270342;
    width: 380px;
    
   transition: transform 10s 1s;
}
.video-card:hover{
    transform:  rotate(8deg) scale(0.8);
}

.card-text {
    text-align: left;
    padding: 10px;
}
.card-text h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.card-text p{
     font-size: 1rem;
    font-weight: normal;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.card-text span{
    font-size: 1rem;
    font-weight: bold;
    line-height: 24px;
    color: #00FF88;
    margin-top: 12px;
    align-items: center;
}
.host-section{
    padding:  0 200px 120px;
}
..host-section h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.host-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 48px 40px;
    background-color: #351165;
    border-radius: 20px;
    
    

}
.host-container h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FFFFFF;

}
.host-container p{
    font-size: 1rem;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.socile{
    display: flex;
    text-align: left;
}

footer{
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 412px;
}
.footer-container{
    text-align: center;
    padding: 70px;
}
.footer-container h2{
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.footer-container p{
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}
.footer-socile{
    display: flex;
    justify-content: space-evenly;
    padding: 32px 200px;

}




/* responsiv */ 

@media screen and  (max-width:576px){
 
    .naveber{
    padding: 10px 50px;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
}
.hidden{
    display:flex !important;
}
.nav-manue {
    display: none !important;
.
}
.nav-btn{
    display: none !important;
}

.hero {
    background-image: url(../assets/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    width: 100%;
    height:467px;
}
.hero-imag-crcl{
    align-items: center;
    position: relative;
}
.microphone img{
    position: relative;
    top: 150px;
    right: 4px;
    width: 80px;
    height: 90px;
}
.hero-imag-crcl .new {
    font-size: 1rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 8px 22px;
    position: relative;
    bottom: 135px;
    right: 40px;
}
.hero-text h2 {
    font-size: 2.5rem;
   
}
.hero-text {
    margin-top: -50px;
    width: 100vw;
}
.hero-imag-crcl img{
    width: 200px;
    height: 200px;
}

.prodcust-text {
    padding: 10px;

}
.award-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    padding-bottom: 30px;
}
.Why-Choose-TechWave h2 {
    padding: 40px;
    font-size: 2rem;
}
.techwave{
    display: flex;
    flex-direction: column;
}
.featured h2 {
    font-size: 2rem;
    padding: 40px;
}
.video {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    margin-bottom:20px;
}
.host-section {
    padding: 20px;
}
.host-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer {
    min-width: 95vw;
    background-size: cover;
    background-image: url(../assets/footer-bg.png);
}
.footer-container h2 {
    font-size: 3rem;
}
.gradiant-2 {
    font-size: 3rem;
}   

.footer-socile {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    grid-template-rows: repeat(2,1fr);
    padding: 10px;
    padding-bottom: 30px;
}
.video-card{
    border-radius: 10px;
    overflow: hidden; 
    text-align: center;
    background-color: #270342;
    
   
}
.video-card .ifrem{
    width:70vw;
}
}